[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
"pdfminer.six" = "==20170720"
requests = "==2.18.4"
"beautifulsoup4" = "==4.5.1"
spacy = "*"
jupyter = "*"
cld2-cffi= "*"
gensim = "*"
sklearn = "*"
bokeh = "*"
pyLDAvis = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
